* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(0deg, rgb(2, 21, 68), rgb(11, 231, 248));
}

.clock {
  position: relative;
  width: 400px;
  height: 400px;
  border: 20px solid #FFFFFD;
  border-radius: 50%;
}


.line-seconds {
  position: absolute;
  left: 50%;
  margin-left: -4px;
  width: 8px;
  height: 180px;
  background-color: rgb(0, 171, 0);
  transform-origin: bottom;
}

.line-minutes {
  position: absolute;
  left: 50%;
  margin-left: -4px;
  width: 8px;
  height: 180px;
  background-color: rgb(212, 202, 15);
  transform-origin: bottom;
}

.line-hours {
  position: absolute;
  left: 50%;
  margin-left: -4px;
  width: 8px;
  height: 180px;
  background-color: rgb(219, 12, 12);
  transform-origin: bottom;
}